@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap//scss/mixins";


.user-page{

    margin-top: 2.5rem;
    .inner-user-card{

        .card-body{
            .card-subtitle{
                margin-top: 0.3rem;
            }
        }
    }

    .details-wrapper{

        font-family: cursive;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name{
            
            font-size: 3rem;
        }
        .username{
            font-size: 2rem;
        }
        .website{
            font-size: 1.5rem;
        }
    }


    .address-card{
        margin: 10px;

        .card-header{
            font-weight: bold;
        }

        .card-body{

            .card-title{
                text-decoration: underline;
                font-size: 1rem;
                font-weight: bold;
            }

            .card-text{
                // text-transform: ;
                text-align: right;
                margin-bottom: 0.3rem;
            }
        }
    }

    

    .post-list{
        margin-top: 2rem;
    }

    @include media-breakpoint-only(md){
        .details-wrapper{
            
            .name{
                font-size: 2rem;
            }
        }


        .address-card{
            font-size: 0.8rem;
            .card-body{
                .card-text{

                    text-align: start;
                }
            }
        }
    }
    @include media-breakpoint-only(xs){

        .details-wrapper{
            padding: 2rem;
            display: none;
            .name{
                text-align: center;
                font-size: 2rem;
            }
        }

        .inner-user-card{
            .card-body{
                text-align: center;
                .card-subtitle{
                    text-align: center;
                }
            }
        }

        .address-card{
            .card-body{
                .card-text{
                    text-align: center;
                }
            }
        }
        
    }
}