@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";


.header{
    height: 60px;
    background-color: indianred;

    @include media-breakpoint-only(xs){
        font-size: 1rem;
        color: wheat;
    }
}