.comment-card{
    margin-top: 10px;
    border-radius: 5px;
    .card-header{
        cursor: pointer;
        // border: 1px solid black;
        
        color: yellow;
        background-color: tomato;
        // font-weight: bold;
    }

    .likes-dislikes-replies{
        .icon-wrapper{
            cursor: pointer;
        }
    }
}