.comment-card{
    margin-top: 10px;
    border-radius: 20px;
    .card-header{
        cursor: pointer;
        border: 1px solid black;
        
        color: wheat;
        background-color: saddlebrown;
        font-weight: bold;
    }
}